@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio&family=Oswald&family=Pacifico&family=Raleway&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  width: 100%;
}

.nav-menu li {
  list-style: none;
}

.nav-item a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

.nav-item a:hover {
  background-color: #254618;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 15px;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #bbbbbb;
  margin: 10px;
  border-radius: 15px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  height: 50px;
}

.nav-link {
  transition: 0.3s ease;
}

.nav-link:hover {
  color: rgb(0, 0, 0);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: rgb(0, 0, 0) l 0.3s ease-in-out;
  background-color: #000000;
}

footer {
  background-color: #162b0e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .navbar img {
    height: 60px;
    width: 60px;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 120px;
    gap: 30px;
    padding: 15px;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .nav-list {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item a {
    color: #000000;
  }

  .main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 130px;
    flex-direction: column;
  }

  .main-section h1 {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
  }

  .about-body p {
    text-align: justify;
    width: 90%;
    margin: 15px auto;
  }

  .about-body img {
    margin: 15px;
    width: 90%;
  }

  .abt-desc {
    font-family: "Pacifico", cursive;
    font-size: 26px;
    text-align: center;
  }

  .about-ftrd-img {
    margin: 20px auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }

  .featured-img img {
    margin: 20px auto;
    width: 100%;
    display: flex;
  }

  .featured-img h4 {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    text-transform: uppercase;
  }

  footer {
    font-size: 14px;
  }
  .fa-solid {
    color: #000000;
  }

  .fa-solid a {
    height: 100px;
    width: 100px;
    justify-self: center;
    align-self: center;
    text-align: center;
    margin-right: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .main-section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    margin: 20px;
  }
  .about-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    gap: 20px;
  }
  .abt-desc {
    font-family: "Pacifico", cursive;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
  }

  .about-body p {
    text-align: justify;
    width: 45%;
    margin: 0 auto;
  }

  .about-body img {
    height: 350px;
  }

  .about-ftrd-img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    width: 90%;
    gap: 30px;
  }

  .about-ftrd-img img {
    height: 200px;
    margin: 0 auto;
  }

  .featured-img h4 {
    font-size: 14px;
    text-transform: uppercase;
  }

  .fa-solid {
    color: #000000;
  }

  .fa-solid a {
    height: 100px;
    width: 100px;
    justify-self: center;
    align-self: center;
    text-align: center;
    margin-right: 20px;
  }
}

@media (min-width: 1025px) {
  .nav-menu li a {
    font-size: 20px;
  }
  .main-section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 160px;
    font-family: "Oswald", sans-serif;
    font-size: 36px;
  }
  .about-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    gap: 20px;
  }
  .abt-desc {
    font-family: "Pacifico", cursive;
    text-align: center;
    font-size: 38px;
    font-weight: 600;
  }

  .about-body p {
    text-align: justify;
    font-size: 22px;
    width: 45%;
    margin: 0 auto;
  }

  .about-body img {
    height: 400px;
  }

  .about-ftrd-img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    width: 90%;
    gap: 30px;
  }

  .about-ftrd-img img {
    height: 300px;
    margin: 0 auto;
  }

  .featured-img h4 {
    font-size: 20px;
    text-transform: uppercase;
  }
  .fa-solid {
    color: #000000;
  }

  .fa-solid a {
    height: 100px;
    width: 100px;
    justify-self: center;
    align-self: center;
    text-align: center;
    margin-right: 20px;
  }
}
